body{
	font-family: 'Montserrat',sans-serif!important;
}
.orange-text{
	color: #FFB842!important;
}
.md .item-input-focused .item-input-wrap:after,.md .input-focused:after{
	background: #FFB842!important;
}
.outline-orangebtn{
	color: #FFB842!important;
	border: 1px solid #FFB842!important;
}
.outline-dangerbtn{
	color: red!important;
	border: 1px solid red!important;
}
.outline-green{
	color: #4CAF50!important;
	border: 1px solid #4CAF50!important;
}
.orange-btn{
	background-color: #FFB842!important;
}
.grey-text{
	color: #2D313A!important;
}
.light-grey{
	background-color: rgba(143, 144, 144, 0.32)!important;
}
.grey-border{
	border:1px dashed #656973!important;
}
.login-screen-content{
	background:rgba(0, 0, 0, 0) url("../img/bg-login.jpeg") no-repeat fixed center center / cover!important;
}
.login-screen-content .inputbox i {
    background: rgba(229, 229, 229, 0.3) none repeat scroll 0 0!important;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 44px;
    line-height: 42px;
    position: absolute;
    width: 44px;
    text-align: center;
}
.footer-bg{
	background: rgba(229, 229, 229, 0.3) none repeat scroll 0 0!important;
}
.login-screen-content .inputbox input {
    background: rgba(255, 255, 255, 0.22) none repeat scroll 0 0;
    text-align: center;
    color: #fff!important;
}
.mt-100{
	margin-top: 100px!important;
}
.footer-bg,.header-bg{
	background: rgba(229, 229, 229, 0.3) none repeat scroll 0 0!important;
}
.ios .navbar,.inner-footer{
	background-color: #2D313A!important;
}
.text-uppercase{
	text-transform: uppercase;
}
.dashboard-blocks{	
	width: 50%;
	height:150px;
	color: #000;
	padding: 5%;
	margin: 4px;
	box-shadow: 0px 1px 2px 1px rgba(142, 139, 139, 0.5)!important;
}
.border-top{
	border-top: 1px solid #c9c9d0;
}
.block-comp{
	border: 1px dashed #81C868;
    background-color: #b9eaa8!important;
    color: #81C868;
    font-weight: 700;
}
.block-preogress{
	border: 1px dashed #FFBD4A;
    background-color: #ffe0a9!important;
    color: #FFBD4A;
    font-weight: 700;
}
.block-exec{
	border: 1px dashed #5D9CEC;
    background-color: #bad7fb!important;
    color: #5D9CEC;
    font-weight: 700;
}
.block-assign{
	border: 1px dashed #5FBEAA;
    background-color: #b8e8de!important;
    color: #5FBEAA;
    font-weight: 700;
}
.block-total{
	border: 1px dashed #4C5667;
    background-color: #bcbec1!important;
    color: #4C5667;
    font-weight: 700;
}
.fw-700{
	font-weight: 700!important;
}
.text-capitalize{
	text-transform: capitalize;
}
.fs-16{
	font-size: 16px;
}
.fs-14{
	font-size: 14px;
}
.fs-12{
	font-size: 12px;
}
.fs-28{
	font-size: 28px!important;
}
.fs-2em{
	font-size: 2.5em;
}
.textarea{
	/*background-color: #bbe1ff;
	border:1px dashed #2196f3;
	background-color: #FFB842;
	border:1px dashed #FFB842;*/
	background-color: rgba(247, 196, 111, 0.6196078431372549);
    border: 1px dashed #ff9f00;
    color: #ff9f00;
}
.textare-txtclr{
	color: #fba00a!important;
}
.w-100{
	width: 100%;
}
.p-2{
	padding: 2%;
}
.p-1{
	padding: 1%;
}
.mb-2{
	margin-bottom:2%;
}
.mb-5{
	margin-bottom: 5%;
}
.mb-15p{
	margin-bottom: 15%;
}
.mb-20p{
	margin-bottom: 20%;
}
.mt-5p{
	margin-top: 5%;
}
.mt-2p{
	margin-top: 2%;
}
.ml-5p{
	margin-left: 5%;
}
.block {
    margin: 20px 0!important;
    padding: 0 16px;
}
.ml-5x{
	margin-left: 5px!important;
}
.accr-pad{
	padding-left: 0!important;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.w-50{
	width: 50%;
}
.w-25{
	width: 25%;
}
.w-35{
	width: 35%;
}
.w-18{
	width: 18%;
}
.uploadDiv{
	height: 150px;
}
.notseen{
	background-color: #fde1e1!important;
}
.ios .list .item-inner:after{
	background-color: #fff!important;
}
.picbox{
	/*background-color: #d6d6ff!important;*/
	background-color: rgba(143, 144, 144, 0.32)!important;
    padding: 7%!important;
    border: 1px dashed darkgray;
    height: 140px!important;
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.picbox-text{
	color: #848383!important;
}
.text-white{
	color: #fff!important;
}
.innerDiv,.m-t-25p{
	margin-top: 25%!important;
}
.m-t-20p{
	margin-top: 20%!important;
}
.form-div{
	padding: 2% 0 0 0%;
	width:85%;
}
.color-custom{
	background-color: #5FBEAA;
}
.color-executed{
	background-color: #5D9CEC;
}
.color-progress{
	background-color: #FFBD4A;
}
.color-complete{
	background-color: #81C868;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:  #FFB842!important;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  color:  #FFB842!important;
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  color:  #FFB842!important;
  font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
  color:  #FFB842!important;
  font-size: 12px;
}
.ios .item-input-error-message{
	margin-top: 1px!important;
}
.p-30{
	padding: 30%!important;
}
.btnblck-custom{
	height: 56px!important;
    border-radius: 0!important;
}
.text-red{
	color: red;
}
.mr-5p{
	margin-right: 5%;
}

/* ---------------------- ROTATE STAR -------------------- */
.gly-spin {
      -webkit-animation: spin 5s infinite linear;
      -moz-animation: spin 5s infinite linear;
      -o-animation: spin 5s infinite linear;
      animation: spin 5s infinite linear;
      color:#F58703;
}
@-moz-keyframes spin {
0% {
    -moz-transform: rotate(0deg);
}
100% {
    -moz-transform: rotate(359deg);
}
}
@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
}
}
@-o-keyframes spin {
0% {
    -o-transform: rotate(0deg);
}
100% {
    -o-transform: rotate(359deg); 
}
}
@keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}